<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="M_PI" value="3.1415926" />
    
    <xacro:macro name="mini_4wd_robot_test_xacro">
        <link name="base_footprint" />
        
        <joint name="base_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <parent link="base_footprint" />
            <child link="base_link" />
        </joint>
        
        <link name="base_link">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="5" />
                <inertia
                    ixx="0.01933"
                    ixy="0"
                    ixz="0"
                    iyy="0.02871"
                    iyz="0"
                    izz="0.04271" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.25 0.20 0.08" />
                </geometry>
                <material name="base_material">
                    <color rgba="0.741176470588235 0.901960784313726 0.956862745098039 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="0.25 0.20 0.08" />
                </geometry>
            </collision>
        </link>
        
        <link name="left_wheel_link_virtual" />
        <link name="right_wheel_link_virtual" />
        
        <joint name="left_wheel_joint" type="continuous">
            <origin xyz="0 0.1 0" rpy="0 0 0" />
            <parent link="base_link" />
            <child link="left_wheel_link_virtual" />
            <axis xyz="0 1 0" />
        </joint>
        
        <joint name="right_wheel_joint" type="continuous">
            <origin xyz="0 -0.1 0" rpy="0 0 0" />
            <parent link="base_link" />
            <child link="right_wheel_link_virtual" />
            <axis xyz="0 1 0" />
        </joint>
        
        <link name="lf_wheel_link">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="0.2" />
                <inertia
                    ixx="8.53e-05"
                    ixy="0"
                    ixz="0"
                    iyy="1.024e-04"
                    iyz="0"
                    izz="8.53e-05" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="${M_PI/2} 0 0" />
                <geometry>
                    <cylinder radius="0.032" length="0.02" />
                </geometry>
                <material name="wheel_material">
                    <color rgba="0.2 0.2 0.2 1" />
                </material>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="${M_PI/2} 0 0" />
                <geometry>
                    <cylinder radius="0.032" length="0.02" />
                </geometry>
            </collision>
        </link>
        <joint name="lf_wheel_joint" type="continuous">
            <origin xyz="0.08 0.1 -0.04" rpy="0 0 0" />
            <parent link="base_link" />
            <child link="lf_wheel_link" />
            <axis xyz="0 1 0" />
        </joint>
        
        <link name="lb_wheel_link">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="0.2" />
                <inertia
                    ixx="8.53e-05"
                    ixy="0"
                    ixz="0"
                    iyy="1.024e-04"
                    iyz="0"
                    izz="8.53e-05" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="${M_PI/2} 0 0" />
                <geometry>
                    <cylinder radius="0.032" length="0.02" />
                </geometry>
                <material name="wheel_material" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="${M_PI/2} 0 0" />
                <geometry>
                    <cylinder radius="0.032" length="0.02" />
                </geometry>
            </collision>
        </link>
        <joint name="lb_wheel_joint" type="continuous">
            <origin xyz="-0.08 0.1 -0.04" rpy="0 0 0" />
            <parent link="base_link" />
            <child link="lb_wheel_link" />
            <axis xyz="0 1 0" />
        </joint>
        
        <link name="rb_wheel_link">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="0.2" />
                <inertia
                    ixx="8.53e-05"
                    ixy="0"
                    ixz="0"
                    iyy="1.024e-04"
                    iyz="0"
                    izz="8.53e-05" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="${M_PI/2} 0 0" />
                <geometry>
                    <cylinder radius="0.032" length="0.02" />
                </geometry>
                <material name="wheel_material" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="${M_PI/2} 0 0" />
                <geometry>
                    <cylinder radius="0.032" length="0.02" />
                </geometry>
            </collision>
        </link>
        <joint name="rb_wheel_joint" type="continuous">
            <origin xyz="-0.08 -0.1 -0.04" rpy="0 0 0" />
            <parent link="base_link" />
            <child link="rb_wheel_link" />
            <axis xyz="0 1 0" />
        </joint>
        
        <link name="rf_wheel_link">
            <inertial>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <mass value="0.2" />
                <inertia
                    ixx="8.53e-05"
                    ixy="0"
                    ixz="0"
                    iyy="1.024e-04"
                    iyz="0"
                    izz="8.53e-05" />
            </inertial>
            <visual>
                <origin xyz="0 0 0" rpy="${M_PI/2} 0 0" />
                <geometry>
                    <cylinder radius="0.032" length="0.02" />
                </geometry>
                <material name="wheel_material" />
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="${M_PI/2} 0 0" />
                <geometry>
                    <cylinder radius="0.032" length="0.02" />
                </geometry>
            </collision>
        </link>
        <joint name="rf_wheel_joint" type="continuous">
            <origin xyz="0.08 -0.1 -0.04" rpy="0 0 0" />
            <parent link="base_link" />
            <child link="rf_wheel_link" />
            <axis xyz="0 1 0" />
        </joint>
        
    </xacro:macro>

</robot>