<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="test_robot_ros2_control">
        <gazebo>
            <plugin name="diff_drive" filename="libgazebo_ros_diff_drive.so">
                <ros>
                    <namespace>/</namespace>
                </ros>
                
                <updateRate>100.0</updateRate>
                
                <leftJoint>left_wheel_joint</leftJoint>
                <rightJoint>right_wheel_joint</rightJoint>
                
                <wheelSeparation>0.2</wheelSeparation>
                <wheelDiameter>0.064</wheelDiameter>
                
                <wheelTorque>30</wheelTorque>
                <wheelAcceleration>2.0</wheelAcceleration>
                
                <commandTopic>cmd_vel</commandTopic>
                <odometryTopic>odom</odometryTopic>
                <odometryFrame>odom</odometryFrame>
                <robotBaseFrame>base_link</robotBaseFrame>
                
                <publishOdomTF>true</publishOdomTF>
                <publishWheelTF>false</publishWheelTF>
                
                <alwaysOn>true</alwaysOn>
                <legacyMode>false</legacyMode>
            </plugin>
            
            <plugin name="joint_controller" filename="libgazebo_ros_joint_state_publisher.so">
                <ros>
                    <namespace>/</namespace>
                </ros>
            </plugin>
        </gazebo>
        
        <transmission name="left_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="lf_wheel_joint">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            </joint>
            <actuator name="left_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
        
        <transmission name="right_trans">
            <type>transmission_interface/SimpleTransmission</type>
            <joint name="rf_wheel_joint">
                <hardwareInterface>hardware_interface/VelocityJointInterface</hardwareInterface>
            </joint>
            <actuator name="right_motor">
                <mechanicalReduction>1</mechanicalReduction>
            </actuator>
        </transmission>
    </xacro:macro>
</robot>