<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="base_link">
        <mu1>0.8</mu1>
        <mu2>0.8</mu2>
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="lf_wheel_link">
        <mu1>5.0</mu1>
        <mu2>10</mu2>
        <kp>1000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.5</maxVel>
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="rf_wheel_link">
        <mu1>5.0</mu1>
        <mu2>10</mu2>
        <kp>1000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.5</maxVel>
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="lb_wheel_link">
        <mu1>5.0</mu1>
        <mu2>10</mu2>
        <kp>1000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.5</maxVel>
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="rb_wheel_link">
        <mu1>5.0</mu1>
        <mu2>10</mu2>
        <kp>1000000.0</kp>
        <kd>10.0</kd>
        <minDepth>0.001</minDepth>
        <maxVel>0.5</maxVel>
        <material>Gazebo/White</material>
    </gazebo>

</robot>