<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="test_robot">
    <xacro:include filename="$(find agribot_simulation)/urdf/test_robot/mini_4wd_robot_test.xacro" />
    <xacro:include filename="$(find agribot_simulation)/urdf/test_robot/test_robot.gazebo.xacro" />
    <xacro:include filename="$(find agribot_simulation)/urdf/test_robot/test_robot.ros2_control.xacro" />

    <xacro:mini_4wd_robot_test_xacro />
    <xacro:test_robot_ros2_control />

</robot>